body {
  margin: 0;
  padding: 50px 0;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  width: 80%;
  max-width: 900px;
  margin: auto;
}

.header {
  width: 100%;
  position: relative
}

.profile-picture {
  margin: auto;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background: url(profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.178)), url(profile.jpg);
  border: 5px solid grey;
  background-size: cover;
}
.overlay-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}


.pic {
  position: absolute;
  z-index: 10;
  bottom: 5px;
  left: 40px;
}

.profile-picture:hover .overlay-pic {
  display: block;
}

.share {
  position: absolute;
  top: 20px;
  right: 10%;
  cursor: pointer;
}

.share:hover .rect-fill{
  fill: #F9FAFB;
}

.share:hover .path-stroke{
  stroke: #667085;
}

.text-link {
  display: none;
}

.share:hover .text-link{
  display: block
}

.desktop-share {
  display: flex;
  align-items: center;
  gap: 4px;
}


.desktop-share div p {
  background-color: black;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
}

.username {
  margin: auto;
 
}

.slack {
  display: none;
}

.mobile-share {
  display: none;
}
@media (max-width: 425px) {
  .mobile-share {
    display: block;
  }

  .desktop-share {
    display: none;
  }

  .footer {
    display: none;
  }
}


.links {
  width: 100%;
}

.link {
  width: 100%;
  margin: auto;
  height: 76px;
  background-color: #EAECF0;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
}

.link:hover {
  background-color: #D0D5DD;
}


.footer {
  width: 100%;
  padding-bottom: 20px;
}

.sandg {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

